<div class="container main-container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 items-container">
      <div class="profile-container">
        <div class="profile-name">
          <h2><%= @task.name %></h2>
        </div>
        <h6 class="status-color <%=@task.status%>"><%= @task.status %></h6>
        <h3><%= @task.description %></h3>

    
        <%= link_to 'Back to list', root_path %>
      </div>
    </div>
  </div>
</div>
