<div class="container main-container">
  <div class="row justify-content-center">
    <div class="col-12">
      <h1><%= @user.name %></h1>

      <%=   link_to 'New Task', new_user_task_path(@user) %>
      <p><strong>Tasks</strong></p>
      <div class="tasks-list">
        <% @user.tasks.each do |task| %>
          <ul class="list-group-item">
            <h5><%= task.name %></h5>
            <h6><%= task.status %></h6>
          </ul>
          <%= link_to "Delete",
              user_task_path(@user, task),
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, remote: true %>
        <% end %>
      </div>
      <br>

      <% if current_user.id == @user.id %>
        <%= link_to 'Edit Profile', edit_user_path(current_user, class: 'btn btn-primary') %>
      <% end %>

      <%= link_to 'Go back', root_path %>
    </div>
  </div>
</div>
