<div class="container main-container">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="profile-container">
        <div class="profile-name">
          <h1><%= @user.name %></h1>
        </div>
        <div class="profile-links">
          <% if current_user.id == @user.id %>
            <%= link_to 'Edit profile', edit_user_path(current_user) %>
          <% end %> |
          <%= link_to "Delete user",
            user_path(@user),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        </div>
      </div>

      <div class="btn-new">
        <%= link_to 'New Task', new_user_task_path(@user) %>
      </div>

      <div class="tasks-list">
        <% @user.tasks.each do |task| %>
          <ul class="list-group-item">
            <h5><%= task.name %></h5>
            <div class="show-icons">
              <h6><%= task.status %></h6>
              <% if current_user.id == @user.id %>
                <%= link_to edit_user_task_path(@user, task) do %>
                  <i class="fa-solid fa-pen-to-square"></i>
                <% end %>
                <%= link_to user_task_path(@user, task),
                  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, remote: true do %>
                  <i class="fa-solid fa-trash"></i>
                <% end %>
              <% end %>
            </div>
          </ul>
        <% end %>
      </div>
      <br>

      <%= link_to 'Back to List', root_path %>
    </div>
  </div>
</div>
